<!-- Start your project here-->
    <nav class="navbar navbar-expand-md navbar-dark double-nav" style="background-color: #243a51; margin-bottom: 30px">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <!-- <form class="form-inline waves-effect waves-light">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form> -->
                        <ul class="navbar-nav "><li class="nav-item">
                            <a href="/login" id="navbar-static-login" class="nav-link waves-effect waves-light" ><i class="fa fa-sign-in mr-1"></i><span class="clearfix d-none d-sm-inline-block">Log In</span></a>
                        </li></ul
                     
                    </div>
                </nav>
    <!-- /Start your project here-->
    <div id="mainContainer"  class="container">
    <form id="simpleSearchForm" action="#" method="POST">
    						<div class="row">
    							<input type="text" name="KEY" class="form-control searchInput col-lg-10" placeholder="Search for an article...">
    							<section class="searchButton col-lg-2">
									<button type="submit" class="btn btn-success btn-default">Search</button>
								</section>
    						</div>
							<fieldset class="form-group">
		                        <input type="checkbox" id="checkboxtitle" checked="checked">
		                        <label for="checkboxtitle">Title</label>
		                        <input type="checkbox" id="checkboxauthor" >
		                        <label for="checkboxauthor">Authors</label>
		                        <input type="checkbox" id="checkboxkeywords">
		                        <label for="checkboxkeywords">Keywords</label>
		                        <input type="checkbox" id="checkboxabstract" >
		                        <label for="checkboxabstract">Abstract</label>
		                    </fieldset>
						</form>
						</div>
    
   		<div id="mainContainer" class="container">
	   		<div class="page-header">
	            <h1 class="myblue">Current Issue</h1>
	        </div>
	        <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view my-card-header headrecolor">
                            <h2 class="h2-responsive mb-2 htc">Volume1</h2>
                            <p class="htc"><i class="fa fa-calendar htc"></i> Autumn - 07.2017</p>

                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-left">
                           <p class="card-text mr-2 ml-2 hideextra" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                                    sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                                    veritatis sequi.Ut enim ad minima veniam, quis nostrum." style="font-size: 16px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                                    sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                                    veritatis sequi.Ut enim ad minima veniam, quis nostrum.</p>
                         </div>
                        <!--/.Card content-->
                        </div>
	        <div class="issTable">
	        	<table class="table">
                            <thead>
                            <tr>
                            <th colspan="4">Full Length Articles</th>
                            <!-- <th colspan="1" style="text-align:center;">Abstract</th>
                            <th colspan="1" style="text-align:center;">Download</th> -->
                            </tr>
                            </thead>

<tbody>
    <tr>
            <td class="detRow">
                <a href="/docbai">
                <p class="issDetails mytitle">Activities with Parents on the Computer: An Ecological Framework </p>
                <p class="issDetails editor"><i>João C. Paiva,&nbsp;</i><i>Carla Morais,&nbsp;</i><i>Luciano Moreira</i></p>
                </a>
            </td>
            <td align="right"><a href="#" data-toggle="modal" data-target="#1803"><img src="images/abstract.png" alt="ABSTRACT" title="Abstract"></a></td>
            <td class="downDoc" align="right"><a href="download_pdf.php?j_id=76&amp;a_id=1803" target="_blank"><img src="images/icon_pdf.png" alt="Download Article" title="Download Article"></a><span class="filesize"></span></td>
    </tr>
</tbody>
<tbody>
    <tr>
            <td class="detRow">
                <p class="issDetails mytitle">Activities with Parents on the Computer: An Ecological Framework </p>
                <p class="issDetails editor"><i>João C. Paiva,&nbsp;</i><i>Carla Morais,&nbsp;</i><i>Luciano Moreira</i></p>
            </td>
            <td align="right"><a href="#" data-toggle="modal" data-target="#1803"><img src="images/abstract.png" alt="ABSTRACT" title="Abstract"></a></td>
            <td class="downDoc" align="right"><a href="download_pdf.php?j_id=76&amp;a_id=1803" target="_blank"><img src="images/icon_pdf.png" alt="Download Article" title="Download Article"></a><span class="filesize"></span></td>
    </tr>
</tbody>
<tbody>
    <tr>
            <td class="detRow">
                <p class="issDetails mytitle">Activities with Parents on the Computer: An Ecological Framework </p>
                <p class="issDetails editor"><i>João C. Paiva,&nbsp;</i><i>Carla Morais,&nbsp;</i><i>Luciano Moreira</i></p>
            </td>
            <td align="right"><a href="#" data-toggle="modal" data-target="#1803"><img src="images/abstract.png" alt="ABSTRACT" title="Abstract"></a></td>
            <td class="downDoc" align="right"><a href="download_pdf.php?j_id=76&amp;a_id=1803" target="_blank"><img src="images/icon_pdf.png" alt="Download Article" title="Download Article"></a><span class="filesize"></span></td>
    </tr>
</tbody>
                        </table>
	        </div>
   		</div>

    <footer class="page-footer center-on-small-only"  style="background-color: #243a51">

        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About material design</strong></h5>
                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS,
                        and JS framework - Bootstrap.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>First column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Second column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Third column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>