 <!-- Start your project here-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                                    <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline waves-effect waves-light">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form>
                        <!-- <ul class="navbar-nav "><li class="nav-item">
                            <a href="#" id="navbar-static-login" class="nav-link waves-effect waves-light" ><i class="fa fa-sign-in mr-1"></i><span class="clearfix d-none d-sm-inline-block">Log In</span></a>
                        </li></ul -->
                      
                    </div>
                </nav>
    <!-- /Start your project here-->
    <style>
        .card-body p {
            font-weight: 300;
        }
        .wow {
            visibility: hidden;
        }
        .between-sections {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .view:not(.hm-zoom) {
            overflow:visible;
        }
    </style>
    <div class="main-wrapper container-fluid container text-center">
<section class="section">
<h5 class="pb-4 mb-4"></h5>
           <div class="row text-left">
            
                <!--Grid column-->
                <div class="col-md-6 mb-r pb-5">
            
                    <div class="card">
                        <div class="card-body">

                            <!--Header-->
                            <div class="form-header default-color">
                                <h3><i class="fa fa-lock"></i> Login:</h3>
                            </div>

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="defaultForm-email" class="form-control">
                                <label for="defaultForm-email">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="defaultForm-pass" class="form-control">
                                <label for="defaultForm-pass">Your password</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-default waves-effect waves-light">Login</button>
                            </div>

                        </div>

                        <!--Footer-->
                        <div align="center">
                            <div class="options">
                                <p>Forgot <a href="#">Password?</a></p>
                            </div>
                        </div>
                    </div>
            
                </div>
                <!--Grid column-->
            
                <!--Grid column-->
                <div class="col-md-6 mb-r">
            
                    <!--Form with header-->
                    <div class="card">
                        <div class="card-body">

                            <!--Header-->
                            <div class="form-header orange-gradient">
                                <h3><i class="fa fa-user"></i> Register:</h3>
                            </div>

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="orangeForm-name" class="form-control">
                                <label for="orangeForm-name">Your name</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="orangeForm-email" class="form-control">
                                <label for="orangeForm-email">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="orangeForm-pass" class="form-control">
                                <label for="orangeForm-pass">Your password</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-deep-orange waves-effect waves-light">Sign up</button>
                            </div>

                        </div>
                    </div>
                    <!--/Form with header-->
            
                </div>
                <!--Grid column-->
            
            </div>

        </section>
        </div>