  <!-- Start your project here-->
  <nav class="navbar navbar-expand-md navbar-dark double-nav"
    style="background-color: #243a51; margin-bottom: 30px">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a
          class="nav-link waves-effect waves-light" href="#">Home <span
            class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a
          class="nav-link waves-effect waves-light" href="#">Features</a></li>
        <li class="nav-item"><a
          class="nav-link waves-effect waves-light" href="#">Pricing</a></li>
        <li class="nav-item dropdown"><a
          class="nav-link dropdown-toggle waves-effect waves-light"
          id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown </a>
          <div class="dropdown-menu dropdown-primary"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Another
              action</a> <a class="dropdown-item waves-effect waves-light" href="#">Something
              else here</a>
          </div></li>
      </ul>
      <!-- <form class="form-inline waves-effect waves-light">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form> -->
      <ul class="navbar-nav ">
        <li class="nav-item"><a href="#" id="navbar-static-login"
          class="nav-link waves-effect waves-light"><i
            class="fa fa-sign-in mr-1"></i><span
            class="clearfix d-none d-sm-inline-block">Log In</span></a></li>
      </ul
    </div>
  </nav>
  <!-- /Start your project here-->
  <div id="main-container-header"
    class="container headre-color-cyan text-color-light">
    <h1 style="text-align: center; font-size: 24px">Tiêu đề bài viết</h1>
  </div>
  <div id="main-container" class="container">
    <div class="row">
      <div class="list-group bhoechie-tab-menu col-lg-2">
        <div class="list-group">
          <a class="list-group-item list-group-item-action active"
            data-toggle="list" href="#cacphanbien" role="tab"><i
            class="fa fa-user"></i> Các phản biện</a> <a
            class="list-group-item list-group-item-action" data-toggle="list"
            href="#baiviet" role="tab"><i class="fa fa-file"
            aria-hidden="true"></i> Bài viết của tôi</a>
        </div>
      </div>
      <!-- Tab panels -->
      <div class="bhoechie-tab col-lg-10">

        <!--Panel 1-->
        <div class="bhoechie-tab-content active" id="cacphanbien"
          role="tabpanel">
          <div class="md-form">
            <h1 class="myblue mb-3">Các Phản biện của bài viết</h1>
            <div class="md-form shadow">
              <div id="main-container-header"
                class="container headrecolor text-color-dark">
                <div class="row">
                  <div class="col-lg-9">
                    <h4>Trương Phùng Khánh Duy</h4>
                    <i class="fa fa-calendar grey-text"> 01/07/2017</i>
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-blue-grey waves-effect waves-light"
                      data-toggle="modal" data-target="#myModal">Chi tiết</button>
                  </div>
                </div>
              </div>
              <div id="main-container">
                <p>Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc
                  Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vvBài
                  viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vBài viết
                  chưa có gì đặt sắc</p>
              </div>
            </div>
            <div class="md-form shadow">
              <div id="main-container-header"
                class="container headrecolor text-color-dark">
                <div class="row">
                  <div class="col-lg-9">
                    <h4>Trương Phùng Khánh Duy</h4>
                    <i class="fa fa-calendar grey-text"> 01/07/2017</i>
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-blue-grey waves-effect waves-light"
                      id="chitiet">Chi tiết</button>
                  </div>
                </div>
              </div>
              <div id="main-container">
                <p>Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc
                  Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vvBài
                  viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vBài viết
                  chưa có gì đặt sắc</p>
              </div>
            </div>
            <div class="md-form shadow">
              <div id="main-container-header"
                class="container headrecolor text-color-dark">
                <div class="row">
                  <div class="col-lg-9">
                    <h4>Trương Phùng Khánh Duy</h4>
                    <i class="fa fa-calendar grey-text"> 01/07/2017</i>
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-blue-grey waves-effect waves-light">Chi
                      tiết</button>
                  </div>
                </div>
              </div>
              <div id="main-container">
                <p>Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc
                  Bài viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vvBài
                  viết chưa có gì đặt sắc Bài viết chưa có gì đặt sắc vBài viết
                  chưa có gì đặt sắc</p>
              </div>
            </div>
          </div>
        </div>
        <!--/.Panel 1-->
        
        <!--Panel 2-->
        <div class="bhoechie-tab-content" id="baiviet" role="tabpanel">
          <h1 class="myblue"
            style="text-align: center; font-size: 24px; border-bottom: 1px solid #357dc6; margin-bottom: 40px">Thông
            tin bài viết</h1>
          <div class="row">
            <label style="margin-right: 50px; margin-left: 20px">Lĩnh
              vực</label>
            <fieldset class="form-group">
              <input name="group1" type="radio" id="radio1" checked="checked"><label
                for="radio1">Option 1</label> <input name="group1" type="radio"
                id="radio2"><label for="radio2">Option 2</label> <input
                name="group1" type="radio" id="radio3"><label
                for="radio3">Option 3</label>
            </fieldset>
          </div>
          <div class="md-form my_mr_t_50">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class=""><h4>Title</h4></label>
          </div>
          <div class="md-form my_mr_t_50">
            <textarea id="textarea-char-counter" name="mysub"
              class="md-textarea" length="120"></textarea>
            <label for="textarea-char-counter" class=""><h4>Type
                your text</h4></label> <span class="character-counter"
              style="float: right; font-size: 12px; height: 1px;"></span>
          </div>
          <h1 class="myblue"
            style="text-align: center; font-size: 24px; border-bottom: 1px solid #357dc6;">Thông
            tin tác giả</h1>
          <div class="row">

            <div class="col-md-6 md-form form-sm" style="margin-top: 25px">
              <input type="text" id="form1" class="form-control"><label
                for="form1" class="">Mã tác giả</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <label>Email:</label>
              </div>
              <div class="row">
                <label>Họ và tên:</label>
              </div>
              <div class="row">
                <label>Địa chỉ:</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <label style="margin-right: 50px">Giới tính</label>
                <fieldset class="form-group ">
                  <input name="group2" type="radio" id="nam" checked="checked"><label
                    for="nam">Option 1</label> <input name="group2" type="radio"
                    id="nu"><label for="nu">Option 2</label>
                </fieldset>
              </div>
              <div class="row">
                <label>Số điện thoại:</label>
              </div>
            </div>
          </div>
          <h1 class="myblue"
            style="text-align: center; font-size: 24px; border-bottom: 1px solid #357dc6;">Từ
            khóa</h1>
          <div class="md-form form-sm" style="margin-top: 25px">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class="">1</label>
          </div>
          <div class="md-form form-sm" style="margin-top: 25px">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class="">2</label>
          </div>
          <div class="md-form form-sm" style="margin-top: 25px">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class="">3</label>
          </div>
          <div class="md-form form-sm" style="margin-top: 25px">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class="">4</label>
          </div>
          <div class="md-form form-sm" style="margin-top: 25px">
            <input type="text" id="form1" class="form-control"><label
              for="form1" class="">5</label>
          </div>
          <h1 class="myblue"
            style="text-align: center; font-size: 24px; border-bottom: 1px solid #357dc6;">Đính
            kèm</h1>
          <div class="mb-r">

            <form>
              <div class="file-field">
                <div class="btn btn-primary btn-sm">
                  <span>Choose file</span> <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text"
                    placeholder="Upload your file">
                </div>
              </div>
            </form>

          </div>
          <div class="mywrapper">
            <button class="btn btn-default waves-effect waves-light mybutton">Cập
              nhật</button>
          </div>
        </div>
      </div>
      <!--/.Panel 2-->
    </div>
    <!-- Tab panels -->
  </div>


  <!-- modal  -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
          <div id="myidPB">
                  <h1 class="myblue"
                    style="text-align: left; font-size: 24px; border-bottom: 1px solid #357dc6;">Nội
                    dung phản biện</h1>
                  <div class="md-form my_mr_t_50">
                    <p id="myidNDPB">Bài viết chưa có gì đặt sắc Bài viết chưa
                      có gì đặt sắc Bài viết chưa có gì đặt sắc Bài viết chưa có gì
                      đặt sắc vvBài viết chưa có gì đặt sắc Bài viết chưa có gì đặt
                      sắc vBài viết chưa có gì đặt sắc</p>
                  </div>
                  <h1 class="myblue"
                    style="text-align: left; font-size: 24px; border-bottom: 1px solid #357dc6;">Đánh
                    giá</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th><strong>#</strong></th>
                        <th><strong>Chỉ tiêu</strong></th>
                        <th><strong>Kết quả</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Tính độc đáo</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="tot1"> <label
                              for="tot1">Tốt</label> <input name="group1" type="radio"
                              id="kha1"> <label for="kha1">Khá</label> <input
                              name="group1" type="radio" id="trungbinh1"> <label
                              for="trungbinh1">Trung bình</label> <input name="group1"
                              type="radio" id="khongdat1"> <label
                              for="khongdat1">Không đạt</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Chất lượng</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="tot2"> <label
                              for="tot2">Tốt</label> <input name="group1" type="radio"
                              id="kha2"> <label for="kha2">Khá</label> <input
                              name="group1" type="radio" id="trungbinh2"> <label
                              for="trungbinh2">Trung bình</label> <input name="group1"
                              type="radio" id="khongdat2"> <label
                              for="khongdat2">Không đạt</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Độ dài bài báo</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="tot3"> <label
                              for="tot3">Tốt</label> <input name="group1" type="radio"
                              id="kha3"> <label for="kha3">Khá</label> <input
                              name="group1" type="radio" id="trungbinh3"> <label
                              for="trungbinh3">Trung bình</label> <input name="group1"
                              type="radio" id="khongdat3"> <label
                              for="khongdat3">Không đạt</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Bố cục(tóm tắt, ngôn ngữ,...)</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="tot4"> <label
                              for="tot4">Tốt</label> <input name="group1" type="radio"
                              id="kha4"> <label for="kha4">Khá</label> <input
                              name="group1" type="radio" id="trungbinh4"> <label
                              for="trungbinh4">Trung bình</label> <input name="group1"
                              type="radio" id="khongdat4"> <label
                              for="khongdat4">Không đạt</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Cách trình bày (độ chính xác, hình ảnh, bảng biểu,
                          trích dẫn, ...)</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="tot5"> <label
                              for="tot5">Tốt</label> <input name="group1" type="radio"
                              id="kha5"> <label for="kha5">Khá</label> <input
                              name="group1" type="radio" id="trungbinh5"> <label
                              for="trungbinh5">Trung bình</label> <input name="group1"
                              type="radio" id="khongdat5"> <label
                              for="khongdat5">Không đạt</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Tài liệu tham khảo</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="phuhop1"> <label
                              for="phuhop1">Phù hợp</label> <input name="group1"
                              type="radio" id="kphuhop1"> <label for="kphuhop1">Không
                              phù hợp</label>
                          </fieldset>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Tính cô đọng của bài báo</td>
                        <td>
                          <fieldset class="form-group">
                            <input name="group1" type="radio" id="phuhop2"> <label
                              for="phuhop2">Phù hợp</label> <input name="group1"
                              type="radio" id="kphuhop2"> <label for="kphuhop2">Không
                              phù hợp</label>
                          </fieldset>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h1 class="myblue"
                    style="text-align: left; font-size: 24px; border-bottom: 1px solid #357dc6;">Kết
                    luận</h1>
                  <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio1"> <label
                      for="radio1">Đề nghị sửa chữa và gửi lại phản biện</label>
                  </fieldset>
                </div>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- /.modal -->

  <footer class="page-footer center-on-small-only"
    style="background-color: #243a51">

    <!--Footer links-->
    <div class="container-fluid">
      <div class="row">
        <!--First column-->
        <div class="col-lg-3 col-md-6 ml-auto">
          <h5 class="title mb-3">
            <strong>About material design</strong>
          </h5>
          <p>Material Design (codenamed Quantum Paper) is a design
            language developed by Google.</p>
          <p>Material Design for Bootstrap (MDB) is a powerful Material
            Design UI KIT for most popular HTML, CSS, and JS framework -
            Bootstrap.</p>
        </div>
        <!--/.First column-->
        <hr class="w-100 clearfix d-sm-none">
        <!--Second column-->
        <div class="col-lg-2 col-md-6 ml-auto">
          <h5 class="title mb-3">
            <strong>First column</strong>
          </h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
        <!--/.Second column-->
        <hr class="w-100 clearfix d-sm-none">
        <!--Third column-->
        <div class="col-lg-2 col-md-6 ml-auto">
          <h5 class="title mb-3">
            <strong>Second column</strong>
          </h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
        <!--/.Third column-->
        <hr class="w-100 clearfix d-sm-none">
        <!--Fourth column-->
        <div class="col-lg-2 col-md-6 ml-auto">
          <h5 class="title mb-3">
            <strong>Third column</strong>
          </h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
        <!--/.Fourth column-->
      </div>
    </div>
    <!--/.Footer links-->
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2015 Copyright: <a href="https://www.MDBootstrap.com">
          MDBootstrap.com </a>

      </div>
    </div>
    <!--/.Copyright-->

  </footer>
